@using TestStore.Infrastructure
@using TestStore.Models
@model Cart
@{
}
<div class="float-right">
    @if (Model.GatCartLines.Count() > 0)
    {
        <small class="navbar-text">
            <b>
                Your cart:
            </b>
            @Model.GatCartLines.Sum(x=>x.Quantity) item(s) 
            @Model.GetTotalPrice().ToString("c")
        </small>
    }
    <a class="btn btn-outline-success"
        asp-controller="Cart" asp-action="Index"
        asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa-solid fa-basket-shopping" ></i>
    </a>
</div>@*btn btn-sm btn-secondary navbar-btn*@